*.swp
*.jpg
*.png
.DS_Store
*.log
*.pyc

.ipynb_checkpoints
.ebextensions
.elasticbeanstalk
.git
__pycache__
developer
data/labels
app/static/bounding_boxes
app/static/yolo_detections
app/static/uploads

ground_truth_data.csv
bounding_boxes.txt
libdarknet.so
libdarknetlnx.so
yolo.weights
info.log
errors.log
run_accuracy.py
