{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="jumbotron">
	<p>
		The purpose of this project is to build a visual search engine where given a user input, the most similar image from the database is returned. Our main point of interest are objects belonging to the same category - e.g wall clocks, so the problem might be described as classification with 107 object classes. 
	</p>
	<p>
	Model based on SIFT features extraction (OpenCV) and bag of visual words is built to achieve the goal.
	</p>
	</div> 
</div>

{% endblock %}